---
import { ThoughtsItem } from "@components/cards";
import { Header } from "@components/misc";
import { BaseHead } from "@components/seo";
import { SITE_DESCRIPTION, SITE_TITLE } from "@data/index";
import RootLayout from "@layouts/root-layout.astro";
import { fetchThoughts } from "@utils/sanity";

// Define the type for a thought from Sanity
interface Thought {
  slug: string;
  title: string;
  description: string;
  category: string;
  pubDate: string;
}

const thoughts: Thought[] = await fetchThoughts();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image="/images/ogimage.png"
    />
  </head>
  <RootLayout>
    <div id="navbar+title" class="flex flex-col w-full gap-6 max-w-xl">
      <Header />
      <h1 class="w-full text-7xl font-medium tracking-tight mb-6">thoughts</h1>

      {
        thoughts.map((thought: Thought, i: number) => (
          <ThoughtsItem
            category={thought.category}
            content={thought.description}
            pubDate={thought.pubDate}
            slug={thought.slug}
            index={i}
          />
        ))
      }
    </div>
  </RootLayout>
</html>
